<section class="selectors login_bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" align="right">
          <button class="sign_in {{sign_in}}" (click)="authenticateUser()">Sign In</button>

      </div>
    </div>
    <div class="row {{body}}">
      <div class="col-md-3">
        <h2>Google Analytic</h2>
        <label>Account</label>
         <select [(ngModel)]="AccountValue" class="form-control" #company (change)="getDetails(company.value)">
             <option *ngFor="let company of companies; let i=index;" value="{{i}}">{{company.name}}</option>
         </select>
         <label>Property</label>
         <select [(ngModel)]="PropertyValue" class="form-control" (change)="getView()">
             <option *ngFor="let property of companies_properties;" value="{{property.id}}">{{property.name}}</option>
         </select>
         <label>Value</label>
         <select [(ngModel)]="ViewValue" class="form-control">
             <option *ngFor="let views of companies_views;" value="{{views.id}}">{{views.name}}</option>
         </select>
       </div>
      <div class="col-md-3 side-border">
          <h2>Web Ceo Ranking Account</h2>
          <select [(ngModel)]="rankingAccount" class="form-control">
               <option *ngFor="let webceo of web_ceo_list" value="{{webceo.project}}">{{webceo.domain}}</option>
           </select>
           <h2>Packages</h2>
           <select [(ngModel)]="package" class="form-control">
             <option *ngFor="let package of packages">{{package}}</option>
           </select>
      </div>
      <div class="col-md-3 side-border">
        <h2>Current Date Range</h2>
        <label>Start Date</label>
        <owl-date-time dateFormat="YYYY-MM-DD" dataType="string" [(ngModel)]="first_month_start"></owl-date-time>
        <label>End Date</label>
        <owl-date-time dateFormat="YYYY-MM-DD" dataType="string" [(ngModel)]="first_month_end"></owl-date-time>
      </div>
      <div class="col-md-3 side-border">
        <h2>Compare Date Range</h2>
        <label>Start Date</label>
        <owl-date-time dateFormat="YYYY-MM-DD" dataType="string" [(ngModel)]="second_month_start"></owl-date-time>
        <label>End Date</label>
        <owl-date-time dateFormat="YYYY-MM-DD" dataType="string" [(ngModel)]="second_month_end"></owl-date-time>
        <hr/>
        <button (click)="loadAnalytics()" class="btn btn-primary">Load Data</button>
        <button (click)="saveProject()" class="btn btn-primary">Save Data</button>
      </div>
    </div>
  </div>
</section>
<section class="{{success}}" role="alert">
  <h2>{{message_name}}!!!</h2>{{code}}
</section>

<section class="analytics-data" [class.d-none]="my_Class">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-4">
          <select class="form-control" #month (change)="toggleMonth(month.value)">
            <option value="{{this.compare_month}}">{{this.compare_month}}</option>
            <option value="{{this.current_month}}">{{this.current_month}}-Last Year</option>
          </select>
        </div>
      </div>
      <glance [current_month]="current_month" [compare_month]="compare_month" [compare_index_month]="compare_index_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableGlance" [generateOldReport]="generateOld" (currentLoad)='loadChannelData($event)'></glance>
      <div class="row main_card">
         <organic class="col-md-12 col-xl-6" [current_month]="current_month" [compare_month]="compare_month" [compare_index_month]="compare_index_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableOrganic" [changeOrganic]="changeOrganic"></organic>
         <traffic class="col-md-12 col-xl-6" [current_month]="current_month" [compare_month]="compare_month" [compare_index_month]="compare_index_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableGlance" [generateOldReport]="generateOld" (currentLoad)='loadChannelData($event)'></traffic> 
      </div>
      
      <div class="row main_card">
        <channel class="col-md-12" [current_month]="current_month" [compare_month]="compare_month" [compare_index_month]="compare_index_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableGlance" [generateOldReport]="generateOld"  (currentLoad)='loadChannelData($event)'></channel>
      </div>
      
      <div class="row main_card">
        <siteGoal class="col-md-12" [goalList]="goalSelection" [current_month]="current_month" [compare_index_month]="compare_index_month" [compare_month]="compare_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableGlance" (currentLoad)='loadChannelData($event)'></siteGoal>
      </div>
  
      <div class="row main_card">
        <social class="col-md-12" [current_month]="current_month" [compare_month]="compare_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableGlance" [generateOldReport]="generateOld" (currentLoad)='loadChannelData($event)'></social>
      </div>
        
      <div class="row main_card">
        <pages class="col-md-12 col-xl-6" [current_month]="current_month" [compare_month]="compare_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableGlance" (currentLoad)='loadChannelData($event)'></pages>
        <cities class="col-md-12 col-xl-6" [current_month]="current_month" [compare_month]="compare_month" [first_year]="this.first_year" [second_year]="this.second_year" [generateReport]="enableGlance" (currentLoad)='loadChannelData($event)'></cities>
      </div>
      <webCeo [current_month]="current_month" [rankingAccount]="rankingAccount"  [compare_month]="compare_month" [generateReport]="enableGlance"></webCeo>
    </div>
</section>

