<section class="client_header" *ngIf="isValid==true">
  <div class="container-fluid client_info d-none d-md-block">
    <div class="row align-content-center">
      <div class="col-2">
        <img src="assets/images/logo.png" class="img img-responsive logo_twmg"/>
      </div>
      <div class="col-3">
        <h6>Client:&nbsp;&nbsp;&nbsp;<span>{{client_data.client_name}}</span></h6>
        <h6>Package:&nbsp;&nbsp;&nbsp;<span>{{client_data.package}}</span></h6>
      </div>
      <div class="col-4">
        <h6>Date Range:&nbsp;&nbsp;&nbsp;<span>{{client_data.current_date_range}}</span></h6>
        <h6>Compare To:&nbsp;&nbsp;&nbsp;<span>{{client_data.compare_date_range}}</span></h6>
      </div>
      <div class="col-3">
        <h6>Report Generated:&nbsp;&nbsp;&nbsp;<span>{{client_data.generated_date}}</span></h6>
      </div>
    </div>
  </div>
  <div class="container-fluid client d-md-none bg-gray">
    <div class="row">
        <div class="col-md-12 py-3">
            <a class="d-block flex flex-wrap" data-toggle="collapse" href="#client_data" role="button" aria-expanded="false" aria-controls="client_data">
              <span>
                <span>Client:</span> <span>{{client_data.client_name}}</span>
              </span>
              <span><i class="fa fa-chevron-down"></i></span>
            </a>
        </div>
        <div class="col-md-12 collapse" id="client_data">
          <p>
            <span>Package:&nbsp;</span>
            <span>{{client_data.package}}</span>
          </p>
          <p>
            <span>Date Range:</span>
            <span>{{client_data.current_date_range}}</span>
          </p>
          <p>
            <span>Compare To:</span>
            <span>{{client_data.compare_date_range}}</span>
          </p>
          <p>
            <span>Report Generated:</span>
            <span>{{client_data.generated_date}}</span>
          </p>
        </div>
    </div>
  </div>
  <div class="report_header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Internet Marketing Report</h1>
        </div>
        <div class="col-md-6">
          <select class="form-control" #month (change)="toggleMonth(month.value)" id="styled-select">
            <option>Compare Data</option>
            <option value="{{this.compare_month}}">{{this.compare_month}}-This Year</option>
            <option value="{{this.current_month}}">{{this.current_month}}-Last Year</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
<section class="static_background"></section>
<section class="client_data_layer">
  <div id="clientSection">
    <section class="analytics-data" *ngIf="isValid==true">
      <div class="container">
        <div class="row main_card" style="position:relative;">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                At a Glance<span class="head_icon"><i class="fa fa-binoculars fa-lg"></i></span>
              </div>
              <div class="card-block">
                <table class="table table-responsive glance_table">
                  <thead>
                  <tr>
                    <th>Data</th>
                    <th>
                      <span class="d-md-block d-none">{{current_month}} {{this.first_year_date}}</span>
                      <span class="d-md-none d-block">{{this.helper.getMonthShortName(current_month)}}</span>
                    </th>
                    <th>
                      <span class="d-md-block d-none">{{this.compare_index_month}}  {{this.second_year_date}}</span>
                      <span class="d-md-none d-block">{{this.helper.getMonthShortName(this.compare_index_month)}}</span>
                    </th>
                    <th>Change(%)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <i class="fa fa-users fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                              <i class="fa fa-question-circle"></i>
                              <span class="help_text">Total number of internet users who visited the website.</span>
                            </span>
                      Total Visits
                    </td>
                    <td>{{data.current?.visits?.total_visit}}</td>
                    <td>{{compare?.visits.total_visit}}</td>
                    <td>
                      <i
                        class="fa {{helper.getSymbol(data.current?.visits.total_visit,compare?.visits.total_visit)}}"></i>
                      {{helper.getPositivePercentage(data.current?.visits?.total_visit, compare?.visits.total_visit)}}
                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-user-plus fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                              <i class="fa fa-question-circle"></i>
                              <span class="help_text">Total number of internet users who visited the website for the first time.</span>
                            </span>
                      New Visits
                    </td>
                    <td>{{data.current?.visits.new_visit}}</td>
                    <td>{{compare?.visits.new_visit}}</td>
                    <td>
                      <i class="fa {{helper.getSymbol(data.current?.visits.new_visit,compare?.visits.new_visit)}}"></i>
                      {{helper.getPositivePercentage(data.current?.visits.new_visit, compare?.visits.new_visit)}}
                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-retweet fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                            <i class="fa fa-question-circle"></i>
                            <span class="help_text">Total number of internet users who visited the website who had already visited before.</span>
                          </span>
                      Return Visits
                    </td>
                    <td>{{data.current?.visits.return_visit}}</td>
                    <td>{{compare?.visits.return_visit}}</td>
                    <td>
                      <i
                        class="fa {{helper.getSymbol(data.current?.visits.return_visit,compare?.visits.return_visit)}}"></i>
                      {{helper.getPositivePercentage(data.current?.visits.return_visit, compare?.visits.return_visit)}}
                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-leaf fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                              <i class="fa fa-question-circle"></i>
                              <span class="help_text">Total number of internet users who found the website from Google and not from paid advertising.</span>
                            </span>
                      Organic Visits(SEO)
                    </td>
                    <td>{{data.current?.organic.values[0].value}}</td>
                    <td>{{compare?.organic.values[0].value}}</td>
                    <td>
                      <i
                        class="fa {{helper.getSymbol(data.current?.organic.values[0].value,compare?.organic.values[0].value)}}"></i>
                      {{helper.getPositivePercentage(data.current?.organic.values[0].value, compare?.organic.values[0].value)}}
                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-exchange fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                              <i class="fa fa-question-circle"></i>
                              <span class="help_text">The percentage of searchers who leave after the initial
                              click without any additional interaction with the website.</span>
                            </span>
                      Bounce Rate
                    </td>
                    <td>{{data.current?.bounceRate}}</td>
                    <td>{{compare?.bounceRate}}</td>
                    <td class="bounce_rate">
                      <i class="fa {{helper.getSymbol(data.current?.bounceRate,compare?.bounceRate)}}"></i>
                      {{helper.getPositivePercentage(data.current?.bounceRate, compare?.bounceRate)}}
                    </td>
                  </tr>
                  <tr *ngIf="data.current?.transactions!==0||data.compare?.transactions!==0">
                    <td><i class="fa fa-money fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                              <i class="fa fa-question-circle"></i>
                              <span class="help_text">An instance of buying products.</span>
                            </span>Transactions
                    </td>
                    <td>{{data.current?.transactions}}</td>
                    <td>{{compare?.transactions}}</td>
                    <td>
                      <i class="fa {{helper.getSymbol(data.current?.transactions,data.compare?.transactions)}}"></i>
                      {{helper.getPositivePercentage(compare?.transactions, data.current?.transactions)}}
                    </td>
                  </tr>
                  <tr
                    *ngIf="data.current?.revenue!==0||data.compare?.revenue!==0||data.current?.revenue!==0.0||data.compare?.revenue!==0.0">
                    <td><i class="fa fa-usd fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                              <i class="fa fa-question-circle"></i>
                              <span class="help_text">Total income of the sold products.</span>
                            </span>Revenue
                    </td>
                    <td>{{data.current?.revenue}}</td>
                    <td>{{compare?.revenue}}</td>
                    <td>
                      <i class="fa {{helper.getSymbol(data.current?.revenue,data.compare?.revenue)}}"></i>
                      {{helper.getPositivePercentage(compare?.revenue, data.current?.revenue)}}
                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-paper-plane fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      <span class="help">
                          <i class="fa fa-question-circle"></i>
                          <span class="help_text" *ngIf="this.client_data?.client_name!=='Viadux'">All Goals.</span>
                          <span class="help_text" *ngIf="this.client_data?.client_name==='Viadux'">Goals refer to the number of form submissions made through the contact us page.</span>
                        </span>
                      Goals
                    </td>
                    <td *ngIf="this.client_data?.client_name!=='Ubiquinol'">{{data.current?.goalCompletion}}</td>
                    <td *ngIf="this.client_data?.client_name!=='Ubiquinol'">{{compare?.goalCompletion}}</td>
                    <td *ngIf="this.client_data?.client_name!=='Ubiquinol'">
                      <i
                        class="fa {{helper.getSymbol(data.current?.goalCompletion,compare?.goalCompletion,'Enquiry')}}"></i>
                      {{helper.getPositivePercentage(data.current?.goalCompletion, compare?.goalCompletion)}}
                    </td>
                    <td *ngIf="this.client_data?.client_name==='Ubiquinol'">{{current_goal_total}}</td>
                    <td *ngIf="this.client_data?.client_name==='Ubiquinol'">{{compare_goal_total}}</td>
                    <td *ngIf="this.client_data?.client_name==='Ubiquinol'">
                      <i class="fa {{helper.getSymbol(current_goal_total,compare_goal_total,'Enquiry')}}"></i>
                      {{helper.getPositivePercentage(current_goal_total, compare_goal_total)}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-cog icon-blue fa-normal d-none d-md-inline" style="color:#18386D;"></i>
                      Events
                      <select class="form-control" #eventChange (change)="siteEventUpdate(eventChange.value)"
                              id="styled-select">
                        <option *ngFor="let row of this.events; let i=index" class="dropdown-item" value="{{i}}">
                          {{row.key}}
                        </option>
                      </select>
                    </td>
                    <td>{{this.eventIndex.currentEvent}}</td>
                    <td>{{this.eventIndex.compareEvent}}</td>
                    <td><i class="fa {{this.eventIndex.symbol}}"></i>{{this.eventIndex.eventCompare}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <div class="comment">
                  <div class="comment_text">
                    {{comment.glance}}
                  </div>
                  <a class="d-block flex flex-wrap" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="client_data">
                    <div class="comment_btn text-center">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack-1x"></i>
                      </span>
                    </div>
                  </a>
                </div>

              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="row main_card">
          <div class="col-md-5">
            <div class="card">
              <div class="card-header">
                    <span class="help">
                      <i class="fa fa-question-circle"></i>
                      <span class="help_text">Total number of internet users who found the website from Google and not from paid advertising.</span>
                    </span>
                SEO Organic Visits
                <span class="head_icon">
                      <i class="fa fa-bar-chart fa-lg"></i>
                    </span>
                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="analytics_chart_header d-flex flex-wrap">
                      <div *ngFor="let item of this.organic;let i=index">
                        <span class="custom_icon" [style.background]="item.color"></span>
                        <span>{{item.key}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <nvd3 #nvd3 [options]="bar_graph" [data]="organic" api="api" id="multi"
                          config="{deepWatchData: false}"></nvd3>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                {{comment.organic}}
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card">
              <div class="card-header">
                      <span class="help">
                        <i class="fa fa-question-circle"></i>
                        <span class="help_text">The type of device your website was accessed from</span>
                      </span>
                This Month Traffic Source
                <span class="head_icon"><i class="fa fa-line-chart fa-lg"></i></span>
                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="analytics_chart_header d-flex flex-wrap">
                      <div *ngFor="let item of this.data.current?.traffic;">
                        <span class="custom_icon" [style.background]="item.color"></span>
                        <span>{{item.key}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 flex-wrap d-flex">
                    <div class="legend-color d-flex flex-wrap order-1 order-md-0 w-100 justify-content-center">
                      <div class="" *ngFor="let item of this.data.current?.traffic;">
                        <span class="custom_icon" [style.background]="item.color"></span>
                        <span>{{item.value}}</span>
                      </div>
                    </div>
                    <div class="chart order-0 order-md-0 w-100">
                      <nvd3 [options]="pie_chart" [data]="data.current?.traffic" api="api"></nvd3>
                    </div>
                    <div class="disp-month order-2 order-md-0 w-100">
                      <p class="text-months" align="center"> Traffic of {{current_month}} {{this.first_year_date}}</p>
                    </div>
                  </div>
                  <div class="col-md-6 flex-wrap d-flex">
                    <div class="legend-color d-flex flex-wrap order-1 order-md-0 w-100 justify-content-center">
                      <div *ngFor="let item of compare?.traffic;">
                        <span class="custom_icon" [style.background]="item.color"></span>
                        <span>{{item.value}}</span>
                      </div>
                    </div>
                    <div class="chart order-0 order-md-0 w-100">
                      <nvd3 [options]="pie_chart" [data]="compare?.traffic" api="api"></nvd3>
                    </div>
                    <div class="disp-month order-2 order-md-0 w-100">
                      <p class="text-months" align="center"> Traffic of {{compare_index_month}} {{this.second_year_date}}</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="card-footer">
                {{comment.traffic}}
              </div>
            </div>
          </div>
        </div>
        <div class="row main_card">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                    <span class="help">
                      <i class="fa fa-question-circle"></i>
                      <span class="help_text">How your website was accessed</span>
                    </span>
                Channels
                <span class="head_icon"><i class="fa fa-pie-chart fa-lg"></i></span>
                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="analytics_chart_header d-flex flex-wrap">
                      <div class="w-50" *ngFor="let item of data.current?.channels;">
                        <span class="custom_icon" [style.background]="item.color"></span>
                        <span class="help">
                                <i class="fa fa-question-circle"></i>
                                <span class="help_text">{{helper.getHelpText(item.key)}}</span>
                              </span>
                        <span>{{item.key}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 flex-wrap d-flex">
                    <div class="legend-color d-flex flex-wrap order-1 order-md-0 justify-content-center">
                      <div *ngFor="let item of this.data.current?.channels;">
                        <span class="custom_icon" [style.background]="item.color"></span>
                        <span>{{item.value}}</span>
                      </div>
                    </div>
                    <div class="chart order-md-0 w-100">
                      <nvd3 [options]="donut_chart" [data]="data.current?.channels" api="api"
                          config="{deepWatchData: false}" id="pieChart"></nvd3>
                    </div>
                    <div class="order-2 order-md-0 w-100">
                      <p class="text-months" align="center"> Traffic of {{current_month}} {{this.first_year_date}}</p>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex flex-wrap">
                    <div class="legend-color order-1 order-md-0 d-flex flex-wrap justify-content-center">
                      <div *ngFor="let item of compare?.channels;">
                        <span class="custom_icon" [style.background]="item.color"></span>
                        <span>{{item.value}}</span>
                      </div>
                    </div>
                    <div class="chart order-0 order-md-0 w-100">
                      <nvd3 [options]="donut_chart" [data]="compare?.channels" api="api"
                            config="{deepWatchData: false}"></nvd3>
                    </div>

                    <div class="order-2 order-md-0 w-100">
                      <p class="text-months" align="center"> Traffic of {{compare_index_month}} {{this.second_year_date}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                {{comment.channels}}
              </div>
            </div>
          </div>
        </div>
        <div class="row main_card">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                Site Goals
                <span class="head_icon"><i class="fa fa-futbol-o fa-lg"></i></span>
                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                <div class="row d-none d-md-block">
                  <div class="col-md-12">
                    <table class="table table-bordered" id="evenStripped">
                      <thead>
                      <tr>
                        <th>Time Duration</th>
                        <th class="custom_flex_row">
                          <span>Site Goals</span>
                          <span class="select_join">
                                <select #event (change)="goalViaChannelUpdate(event.value)" id="styled-select"
                                        class="form-control">
                                  <option *ngFor="let row of this.goalChannelUpdate; let i=index" class="dropdown-item"
                                          value="{{row.id}}">
                                    {{row.name}}
                                  </option>
                                </select>
                              </span>
                        </th>
                        <th>Change%</th>
                        <th>Goal Conversion Rate</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{current_month}}  {{this.first_year_date}}</td>
                        <td>{{this.retrievedData.currentTotal}}</td>

                        <td rowspan=2 style="vertical-align:middle">
                          <i
                            class="fa {{helper.getSymbol(this.retrievedData.currentTotal,this.retrievedData.compareTotal)}}"></i>
                          {{helper.getPositivePercentage(this.retrievedData.currentTotal, this.retrievedData.compareTotal)}}
                        </td>
                        <td rowspan=2 style="vertical-align:middle">
                          <i
                            class="fa {{helper.getSymbol(this.retrievedData.currentTotal,this.retrievedData.compareTotal,data.current?.sessions)}}"></i>
                          {{helper.calculateGoalConversionRate(this.retrievedData.currentTotal, this.retrievedData.compareTotal, data.current?.sessions, data.compare?.sessions)}}
                        </td>
                      </tr>
                      <tr>
                        <td>{{compare_month}}   {{this.first_year_date}}</td>
                        <td>{{this.retrievedData.compareTotal}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="row d-md-none d-block">
                  <div class="col-md-12">
                    <table class="table table-bordered" id="evenStripped">
                      <tbody>
                        <tr>
                          <th>Time Duration</th>
                          <td>{{current_month}}  {{this.first_year_date}}</td>
                          <td>{{compare_month}}   {{this.first_year_date}}</td>
                        </tr>
                        <tr>
                          <th class="custom_flex_row">
                            <span>Site Goals</span>
                            <span class="select_join">
                                  <select #event (change)="goalViaChannelUpdate(event.value)" id="styled-select"
                                          class="form-control">
                                    <option *ngFor="let row of this.goalChannelUpdate; let i=index" class="dropdown-item"
                                            value="{{row.id}}">
                                      {{row.name}}
                                    </option>
                                  </select>
                                </span>
                          </th>
                          <td>{{this.retrievedData.currentTotal}}</td>
                          <td>{{this.retrievedData.compareTotal}}</td>
                        </tr>
                        <tr>
                          <th>Change%</th>
                          <td colspan=2 style="vertical-align:middle">
                            <i
                              class="fa {{helper.getSymbol(this.retrievedData.currentTotal,this.retrievedData.compareTotal)}}"></i>
                            {{helper.getPositivePercentage(this.retrievedData.currentTotal, this.retrievedData.compareTotal)}}
                          </td>
                        </tr>
                        <tr>
                          <th>Goal Conversion Rate</th>
                          <td colspan=2 style="vertical-align:middle">
                            <i
                              class="fa {{helper.getSymbol(this.retrievedData.currentTotal,this.retrievedData.compareTotal,data.current?.sessions)}}"></i>
                            {{helper.calculateGoalConversionRate(this.retrievedData.currentTotal, this.retrievedData.compareTotal, data.current?.sessions, data.compare?.sessions)}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer">

              </div>
              <div class="card inner-card">
                <div class="card-header">
                  Site Goal Via Channel
                  <span class="head_icon"><i class="fa fa-support fa-lg"></i></span>
                  <div class="clearfix"></div>
                </div>
                <div class="card-block">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>Default Channel Grouping</th>
                      <th>New Visitors</th>
                      <th>Returning Visitors</th>
                      <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let current of this.retrievedData;let i=index">
                      <td>{{current.userType}}</td>
                      <td>
                        {{current.newVisits}}
                        <!--<i class="fa {{helper.getSymbol(current['New Visitor'],compare?.goalCompletionByChannel[i]['New Visitor'])}}"></i>-->
                        <!--{{helper.calculatePercentage(current['New Visitor'],compare?.goalCompletionByChannel[i]['New Visitor'])}}-->
                      </td>
                      <td>
                        {{current.returnVisits}}
                        <!--<i class="fa {{helper.getSymbol(current['Returning Visitor'],compare?.goalCompletionByChannel[i]['Returning Visitor'])}}"></i>-->
                        <!--{{helper.calculatePercentage(current['Returning Visitor'],compare?.goalCompletionByChannel[i]['Returning Visitor'])}}-->
                      </td>
                      <td>
                        {{current.total}}
                        <!--<i class="fa {{helper.getSymbol(current['New Visitor']+current['Returning Visitor'],compare?.goalCompletionByChannel[i]['New Visitor']+compare?.goalCompletionByChannel[i]['Returning Visitor'])}}"></i>-->
                        <!--{{helper.calculatePercentage(current['New Visitor']+current['Returning Visitor'],compare?.goalCompletionByChannel[i]['New Visitor']+compare?.goalCompletionByChannel[i]['Returning Visitor'])}}-->
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card-footer">
                {{comment.sitegoals}}
              </div>
            </div>
          </div>
        </div>
        <div class="row main_card">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Social Media
                <span class="head_icon"><i class="fa fa-users"></i></span>
                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                <div class="row social">
                  <div class="offset-md-1 col-md-2 text-center">
                    <div id="social">
                      <table class="table-active">
                        <tr>
                          <td><span id="firstContent">{{data.current?.social|ArrayPipe: "Facebook"}}</span>
                            <hr/>
                          </td>
                          <td rowspan="2">
                            <i class="fa fa-facebook fa-4x"></i>

                          </td>
                        </tr>
                        <tr>
                          <td><span class="fa {{this.symbol?.Facebook}}"></span>
                            <span id="percentage">{{this.percentage?.Facebook}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-2 text-center">
                    <div id="social">
                      <table class="table-active">
                        <tr>
                          <td><span id="firstContent">{{data.current?.social|ArrayPipe: "Instagram"}}</span>
                            <hr/>
                          </td>
                          <td rowspan="2">
                            <i class="fa fa-instagram fa-4x"></i>

                          </td>
                        </tr>
                        <tr>
                          <td><span class="fa {{this.symbol?.Instagram}}"></span>
                            <span id="percentage">{{this.percentage?.Instagram}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>


                    <!--<div>-->
                    <!--  <span class="fa-stack fa-2x">-->
                    <!--    <i class="fa fa-circle-thin fa-stack-2x"></i>-->
                    <!--    <i class="fa fa-instagram"></i>-->
                    <!--  </span>-->
                    <!--  <h4>{{data.current?.social|ArrayPipe: "Instagram"}}-->
                    <!--  <span class="fa {{this.symbol?.Instagram}}"></span>{{this.percentage?.Instagram}}</h4>-->
                    <!--</div>-->
                  </div>
                  <div class="col-md-2 text-center">
                    <div id="social">
                      <table class="table-active">
                        <tr>
                          <td><span id="firstContent">{{data.current?.social|ArrayPipe: "LinkedIn"}}</span>
                            <hr/>
                          </td>
                          <td rowspan="2">
                            <i class="fa fa-linkedin fa-4x"></i>

                          </td>
                        </tr>
                        <tr>
                          <td><span class="fa {{this.symbol?.LinkedIn}}"></span>
                            <span id="percentage">{{this.percentage?.LinkedIn}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!--<div>-->
                    <!--  <span class="fa-stack fa-2x">-->
                    <!--    <i class="fa fa-circle-thin fa-4x fa-stack-2x"></i>-->
                    <!--    <i class="fa fa-linkedin"></i>-->
                    <!--  </span>  -->
                    <!--   <h4>{{data.current?.social|ArrayPipe: "LinkedIn"}}-->
                    <!--    <span class="fa {{this.symbol?.LinkedIn}}"></span>{{this.percentage?.LinkedIn}}</h4>-->
                    <!--</div>-->
                  </div>

                  <div class="col-md-2 text-center">
                    <div id="social">
                      <table class="table-active">
                        <tr>
                          <td><span id="firstContent">{{data.current?.social|ArrayPipe: "Twitter"}}</span>
                            <hr/>
                          </td>
                          <td rowspan="2">
                            <i class="fa fa-twitter fa-4x"></i>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="fa {{this.symbol?.Twitter}}"></span>
                            <span id="percentage">{{this.percentage?.Twitter}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!--<div class="col-md-2 text-center">-->
                  <!--  <div>-->
                  <!--    <span class="fa-stack fa-2x">-->
                  <!--      <i class="fa fa-circle-thin fa-stack-2x"></i>-->
                  <!--      <i class="fa fa-twitter"></i>-->
                  <!--    </span>-->
                  <!--    <h4>{{data.current?.social|ArrayPipe: "Twitter"}}-->
                  <!--      <span class="fa {{this.symbol?.Twitter}}"></span>{{this.percentage?.Twitter}}</h4>-->
                  <!--  </div>-->
                  <!--</div>-->
                  <div class="col-md-2 text-center">
                    <div id="social">
                      <table class="table-active">
                        <tr>
                          <td><p id="firstContent">{{data.current?.social|ArrayPipe: "Other"}}</p>
                            <hr/>
                          </td>
                          <td rowspan="2">
                            <i class="fa fa-comments fa-4x"></i>

                          </td>
                        </tr>
                        <tr>
                          <td><span class="fa {{this.symbol?.Other}}"></span>
                            <span id="percentage">{{this.percentage?.Other}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!--<div>-->
                    <!--  <span class="fa-stack fa-2x">-->
                    <!--    <i class="fa fa-comments-o fa-2x"></i>-->
                    <!--  </span>-->
                    <!--  <h4>{{data.current?.social|ArrayPipe: "Other"}}-->
                    <!--  <span class="fa {{this.symbol?.Other}}"></span>{{this.percentage?.Other}}</h4>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              {{comment.social}}
            </div>
          </div>
        </div>
        <div class="row main_card ">
          <div class="col-md-12 col-xl-6">
            <div class="card">
              <div class="card-header">Top Pages
                <span class="head_icon"><i class="fa fa-file fa-lg"></i></span>
                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="scroll">
                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th>Page Name</th>
                          <th>Page Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of data.current?.top_pages">
                          <td>{{row.key}}</td>
                          <td>{{row.value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                {{comment.toppages}}
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-6">
            <div class="card">
              <div class="card-header">Top 10 Cities
                <span class="head_icon"><i class="fa fa-building fa-lg"></i></span>
                <h6>(Based on Visits)</h6>
                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th>City</th>
                        <th>Visits</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let row of data.current?.top_cities">
                        <td>{{row.key}}</td>
                        <td>{{row.visits}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                {{comment.topcities}}
              </div>
            </div>
          </div>
        </div>
        <webCEO [webData]="webCEOData" [comment]="webComment"></webCEO>
      </div>
    </section>
  </div>
</section>


