<div class="card">
    <div class="card-header">Channels<span><i class="fa fa-pie-chart fa-lg"></i></span></div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <nvd3 [options]="donut_chart" [data]="dataset.current?.channels" api="api"></nvd3>
             <p class= "text-months" align="center">Channels of {{current_month}}    {{this.first_year}}</p>
          </div>
          <div class="col-md-6">
             <nvd3 [options]="donut_chart" [data]="dataset.getComparedData('channels')" api="api"></nvd3>
              <p class="text-months" align="center">Channels of {{compare_index_month}}   {{this.second_year}}</p>
          </div>
        </div>
      </div>
    <div class="card-footer">
        <inline-editor type="textarea"  [(ngModel)]="dataset.comments.channels" empty="Comment" name="editableTextArea"></inline-editor>
    </div>
</div>